@import "variables";
@import "mixins";
@import "navigation";

html {
    font-family: "Ubuntu Mono", FontAwesome;
    font-size: $font_size;
    border-top: 10px solid $blue2;
}

body {
    color: $fg_color;
    background-color: $bg_color;
}

.main_container {
    width: 50%;
    margin: auto;
    border: $test_border_size solid $fg_color;
}

.active_nav_page {
    text-decoration: underline;
}

.inactive_nav_page {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 36px;
}

table {
    width: 100%;
}

table tr:nth-child(4n - 2) td {
    background-color: $bg1-color;
}
table tr:nth-child(4n - 1) td {
    background-color: $bg1-color;
}

td {
    border: $test_border_size solid black;
}

.hide_word_comment {
    visibility: collapse;
}
/* .show_word_comment {
    width: 50%;
} */

.affirmative {
    font-weight: bold;
    color: $blue2;
}

.negative {
    font-weight: bold;
    color: $purple2;
}

.active_sort {
    color: $bg1_color;
    background-color: $blue1;
}
