@import "variables";
@import "mixins";
@import "navigation";

html {
    font-family: "Ubuntu Mono", FontAwesome;
    font-size: $font_size;
    border-top: 5px solid $blue2;
}

body {
    color: $fg_color;
    background-color: $bg_color;
}

.main_container {
    width: 40%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    border: $test_border_size solid $fg_color;
}

.active_nav_page {
    text-decoration: underline;
}

.inactive_nav_page {
    text-decoration: none;
}

h1 {
    text-align: left;
    font-size: 36px;
    /* border-bottom: 10px double $fg_color; */
}

table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 2px solid $fg4_color;
    tr {
        th {
            padding: 3px 0px 3px 0px;
        }
        td {
            border: $test_border_size solid black;
            padding: 3px 0px 3px 0px;
        }
    }
}

.expand_toggle {
    width: 3%; /* Force minimum width */
    white-space: nowrap; /* Prevent wrapping */
    text-align: left;
    padding-bottom: 5px;
}

table tr:nth-child(4n - 3) td {
    background-color: $bg1-color;
}
table tr:nth-child(4n) td {
    background-color: $bg1-color;
}

.word_comment td {
    padding-left: 2rem;
}
.hide_word_comment {
    visibility: collapse;
}

.dummy_row {
    visibility: collapse;
}

.word {
    width: 37%;
    text-align: center;
}

.affirmative {
    width: 15%;
    text-align: center;
    font-weight: bold;
    color: $blue2;
}

.negative {
    width: 15%;
    text-align: center;
    font-weight: bold;
    color: $purple2;
}

.border_left {
    border-left: 2px solid $fg4_color;
}

.border_top_bottom {
    border-top: 2px solid $fg4_color;
    border-bottom: 2px solid $fg4_color;
}

.active_sort {
    color: $bg1_color;
    background-color: $blue1;
}
