@import "variables";
@import "mixins";
@import "navigation";

html {
	font-family: 'Ubuntu Mono';
	font-size: $font_size;
	border-top: 10px solid $blue2;
}

body {
	color: $fg_color;
	background-color: $bg_color;
}

.main_container {
	width: 50%;
	margin: auto;
	border: $test_border_size solid $fg_color;
}

.active_nav_page {
	text-decoration: underline;
}

.inactive_nav_page {
	text-decoration: none;
}

h1 {
	text-align: center;
	font-size: 36px;
}

td {
	border: $test_border_size solid black;
}